.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page1 h1 {
  background-color: red;
  font-size: 38px;
}

.page2 h1 {
  background-color: green;
  font-size: 38px;
}